.dialogCard {
  position: relative;
  width: 35%;
  bottom: 25rem;
  height: 35vh;
  padding-top: 1%;
  margin: auto;
  /* background-color: red; */
}

.dialogCard .heading {
  display: flex;
  justify-content: space-between;
}

.dialogCard .heading h2 {
  font-size: 2rem;
  line-height: 1;
  width: 5rem;
}
