.gen-edu {
    width: 100%;
    /* bottom: 3rem; */
    /* margin-top: -60rem!important; */
}

.slot1 {
    left: 55%;
    margin: auto;
    font-size: 1.4rem;
    font-family: 'Kalam', cursive;
    position: relative;
}

.slot2 {
    left: 10%;
    font-family: 'Kalam', cursive;
    font-size: 1.4rem;
    position: relative;
}



/* ;; */
.qualification-category {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.calendarIcon {
    width: 2.4%;
}

#calendarIcon {
    width: 4.4%;
}

.date-completed {
    display: flex;
    align-items: center;
    gap: 1%;
}



@media screen and (max-width:600px) {
    .gen-edu {
        position: relative;
    }
    .slot1 {
        left: 15%;
    }

    .slot2 {
        left: 20%;
    }
    #calendarIcon {
        width: 9%;
    }

    .calendarIcon {
        width: 9%;
    }

    .course {
        font-size: 1.5rem;
    }
}


@media screen and (min-width:768px) {
    .gen-edu {
        position: relative;
    }
}

@media screen and (min-width:1024px) {
    .gen-edu {
        position: relative;
    }
}