.gen-edu {
  width: 100%;
  position: absolute;
  bottom: 56rem;
  height: 0vh;
}

.slot1 {
  left: 55%;
  margin: auto;
  font-size: 1.4rem;
  font-family: "Kalam", cursive;
  position: relative;
}

.slot2 {
  left: 10%;
  font-family: "Kalam", cursive;
  font-size: 1.4rem;
  position: relative;
}

.qualification-category {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.calendarIcon {
  width: 2.4%;
}

#calendarIcon {
  width: 4.4%;
}

.date-completed {
  display: flex;
  align-items: center;
  gap: 1%;
}

@media screen and (max-width: 600px) {
  .gen-edu {
    position: relative;
    bottom: 63rem;
    height: 0vh;
  }
  .slot1 {
    left: 15%;
  }

  .slot2 {
    left: 20%;
  }
  #calendarIcon {
    width: 9%;
  }

  .calendarIcon {
    width: 9%;
  }

  .course {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 412px) {
  .gen-edu {
    bottom: 56rem;
  }
}

@media screen and (min-width: 425px) {
  .gen-edu {
    bottom: 37rem;
  }
}

@media screen and (min-width: 500px) {
  .gen-edu {
    top: -66rem;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .gen-edu {
    height: 0vh;
    top: -63rem;
  }
  .calendarIcon {
    width: 4%;
  }
}

@media screen and (min-width: 992px) {
  .gen-edu {
    height: 0vh;
  }
}

@media screen and (min-width: 1024px) {
  .gen-edu {
    top: -77rem;
    height: 0vh;
  }
  .calendarIcon {
    width: 2.4%;
  }
}

@media screen and (min-width: 1366px) {
  .gen-edu {
    top: -77rem !important;
    height: 0vh;
  }
}

@media screen and (min-width: 1440px) {
  .gen-edu {
    height: 0vh;
    top: -64rem;
  }

  .calendarIcon {
    width: 2.3%;
  }
}
